.Auth {
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-width: 400px;
    height: 100%;
    margin: auto;
    margin-top: 10%;
    align-items: center;
}

.Auth h1 {
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 100px;
    color: black;
}

.Auth .Jack {
    color: maroon
}

.Auth input {
    height: 40px;
    width: 80%;
    margin: 1rem;
    font-size: 24px;
    border-radius: 10px;
    border-color: white;
    padding-left: 5px;
}

.Auth input:focus {
    outline: none;
}

.Auth button {
    height: 40px;
    width: 80%;
    margin: 1rem;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.Auth button:hover {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: maroon;
    color: white;
}

.Auth button:focus {
    outline: none;
}

.Auth span {
    font-weight: 700;
}

.SignUp {
    color: blue;
}

.SignUp:hover {
    cursor: pointer;
}