.Background {
    display: flex;
    height: 100vh;
}

.TableName{
    position: fixed;
    left: 1%;
    color: white;
    width: 20%;
    overflow: auto;
}

.TableName button {
    width: 30%;
    height: 30px;
    transition: background-color 0.5s ease, width 0.5s ease, color 0.5s ease, height 0.5s ease;
    background-color: white;
    border: none;
    border-radius: 20px;
}

.TableName button:hover {
    transition: background-color 0.5s ease, width 0.5s ease, color 0.5s ease, height 0.5s ease;
    height: 40px;
    width: 40%;
    background-color: maroon;
    color: white;
    
}

.TableName button:focus {
    outline: none;
}

.Table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.Dealer {
    height: 50%;
}

.Players {
    height: 50%;
    width: 100%;
    display:flex;
    justify-content: center;
}

.Actions {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:40%;
    z-index: 1;
    width: 30%;
    height: 10%;
}

.Actions h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.Actions button {
    margin: 5px;
    width: 60px;
    height: 60px;
    border-radius: 90px;
    outline: none;
    font-weight: bold;

    transition: background-color 0.5s ease, width 0.5s ease, color 0.5s ease, height 0.5s ease;
    background-color: white;
    color: black;
}

.Actions button:hover {
    transition: background-color 0.5s ease, width 0.5s ease, color 0.5s ease, height 0.5s ease;
    background-color: maroon;
    color: white;
    width: 80px;
    height: 80px;
}





